.country-list {
    max-width: 700px;
    margin:  20px auto 0;
    padding: 0 20px;
}

.botoes{
    margin-bottom: 10px;
}

article {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #999;
    line-height: 24px;
    font-weight: bold;
    margin: 0;
    
}

a {
    height: 42px;
    border-radius: 5px;
    border: 2px solid #0049B4;
    background: none;
    margin-top: 10px;
    color: #0049B4;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.active{
    background: #0049B4;
    color: #fff;
}

.botoes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0.2em;
}

a:hover{
    background: #0049B4;
    color: #fff;
}